@charset "utf-8";
/* CSS Document */

.about .table-cell:hover .imgg {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.about .about_con-net{position: absolute; left: 0 ;top:0; width: 100%; height: 100%; background: url(../images/about/net.png) repeat center;}

.about_type1{display: table; height: 685px; width: 100%; position: relative; overflow: hidden;}
	.about_type1 .table-cell{display: table-cell; vertical-align: middle; text-align: center;}
	.about_type1 .about_con{ position: relative;display: inline-block; width: 100%; max-width: 800px;}
	.about_type1 .about_con img{width: 100%;}

.about_type2{display: table; height: 685px; width: 100%; position: relative; overflow: hidden;}
	.about_type2 .table-cell{display: table-cell; vertical-align: bottom; text-align: center;}
	.about_type2 .about_con{ position: relative; display: inline-block; width: 100%; max-width: 800px;padding: 0 0 3%;}
	.about_type2 .about_con img{width: 100%;}

.about_type4{background: url(../images/about/bgbg.svg) no-repeat center center; background-size: cover; width: 100%;}


.about_type1-3{width: 50%;overflow: hidden; float: left;}
	.about_type1-3 div{width: 100%; height: 100%;}
	.about_type1-3.a1 .inner .logoo{width: 170px;margin-bottom: 15px;}
	.about_type1-3.a1 .inner h2{padding-bottom: 30px; background: url(../images/about/lines.png) repeat-x left bottom; margin-bottom: 25px}
	.about_type1-3.a1 .inner h3{color: #fff; margin-bottom: 15px;}
	.about_type1-3.a1 .inner p{color: #fff; line-height: 1.8;}

	.about_type1-3 .inner{width: 80%;padding: 50px 0;margin:0 auto; text-align: center;}
	.about_type1-3.a2 .inner h2{font-size: 33px; font-weight: normail; margin-bottom: 30px;}
	.about_type1-3 .inner ul{width: 100%; overflow: hidden;}
	.about_type1-3 .inner li {width: 49%; margin-right: 2%; margin-bottom:29px; float: left;}
	.about_type1-3 .inner li:nth-child(2n+2) {margin-right: 0;}
	.about_type1-3 .inner li a{width: 100%; display: block; text-align: center; background:#fff; }
	.about_type1-3 .inner li a img{width: 100%;}


/*Media Query smaller then 480-----------------------------------------------------*/
@media (max-width: 480px) {
}
/*Media Query smaller then 767-----------------------------------------------------*/
@media (max-width: 767px) {
	.about_type2 .about_con {width: 88%;max-width: 800px;padding: 0 6% 7%;}
	.about_type1-3 {width: 100%;}
}

/*Media Query between 768to 1024-----------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/*Media Query bigger then 980-----------------------------------------------------*/
@media (min-width: 980px) {
}

/*Media Query bigger then 1200-----------------------------------------------------*/
@media (min-width: 1200px) {
}